{% extends 'base.html' %}
{% block title %}Spender Home Page{% endblock %}
{% block css %}
<link rel="stylesheet" text="text/css" href="{{ url_for('static',filename='styles.css') }}">
{% endblock %}
{% block body %}
<form class="form">
    <div class="title">Welcome,<br><span>Please input income</span></div>
    <div class="input-container">
    <span class="input-group-text" id="basic-addon1">$</span>
    <input class="input" name="example" placeholder="Example 23.22">
    </div>
    </div>
    <button class="button-confirm">Submit</button>
  </form>
{% endblock %}
