{% extends 'base.html' %}
{% block title %}Spender Home Page{% endblock %}
{% block body %}<h1>Income</h1>
<form method="POST">
<h3 align="center">Update Income {{ income_date }}</h3>
<div class="mx-auto p-2" style="width: 300px;">
    <div class="input-group mb-3">
        <label for="incomeAmount" class="form-label">Income Amount</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="text" class="form-control" name="incomeAmount" id="incomeAmount" placeholder="Ex. 25.23" aria-describedby="basic-addon1">
        </div>    
    </div>


    <br>
    <div class="row justify-content-center">
    <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
</div>
</div>
</form>
{% endblock %}
