{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" text="text/css" href="{{ url_for('static',filename='new_user_styles.css') }}">
<link rel="stylesheet" text="text/css" href="{{ url_for('static',filename='styles.css') }}">
{% endblock %}
{% block title %}Spender Home Page{% endblock %}
{% block body %}
<div class="new-user">
<form method="POST">
<h3 align="center">Input your income-related details:</h3>
<div>
    <div class="input-group">
        <label for="incomeAmount" class="form-label">Income Amount</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="text" class="form-control" name="incomeAmount" id="incomeAmount" placeholder="Ex. 25.23" aria-describedby="basic-addon1">
        </div>
        
    </div>
    <div>
        <label for="incomeDate" class="form-label">Date of Income</label>
        <input type="date" class="form-control" onfocus="showPicker" name="incomeDate" id="incomeDate">
    </div>
    <div class="mx-auto p-2" style="width: 300px;">
    <div>
        <label for="NextIncomeDateInput" class="form-label">Date of your next Income</label>
        <input type="date" class="form-control" onfocus="showPicker" name="NextIncomeDateInput" id="NextIncomeDateInput">
    </div>
    <br>
    <div class="row justify-content-center">
    <button type="submit" class="button-confirm btn btn-secondary btn-lg">Submit</button>
    </div>
    <br>
</div>
</div>

{% endblock %}