{% extends 'base.html' %}
{% block title %}Spender Expenses{% endblock %}
{% block body %}
<h1>Insert any remaining expenses from your past cycle</h1>
<h2>Cycle: ({{lastIncome}})-({{nid}})</h2>
<br>
<form method="POST">
<h3 align="center">Expense Tracker</h3>
<div class="mx-auto p-2" style="width: 300px;">
    <div class="mb-3">
        <label for="expenseName" class="form-label">Expense Name</label>
        <input type="text" class="form-control" name="expenseName" id="expenseName" placeholder="Ex. Food">
    </div>


      <div class="input-group mb-3">
        <label for="costInput" class="form-label">Cost</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="text" class="form-control" name="costInput" id="costInput" placeholder="Ex. 25.23" aria-describedby="basic-addon1">
        </div>    
    </div>
   
    <div>
        <label for="purchaseDate" class="form-label">Date of Purchase</label>
        <input type="date" class="form-control" onfocus="showPicker" name="purchaseDate" id="purchaseDate">
    </div>


    <br>
    <div class="row justify-content-center">
    <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
</div>
<br>
<div class="row justify-content-center">
        <a style="background-color:rgb(0,0,80);color:#e3f2fd" href="{{url_for('routes.home')}}">Done</a>
</div>
</div>
</form>
       
{% endblock %}
