.expense_container  {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* column-gap: 10px; */
    /* flex-direction: row; */
}

.expense {
    margin: 50px;
    width: 300px;
}
nav ul.expense {
    overflow: hidden;
    overflow-y: scroll;
    height: 600px;
}
.form-control {
    height: 40px;
    border-radius: 8px;
}
#exp_total {
    border: 1px solid black;
}
button.exp-submit {
    margin-top: 32px;
    background-color:  #e3f2fd;
    color: black;
    transition-duration: 1s;
}
button.exp-submit:hover {
    background-color: rgb(0,0,80);
    color: white;
}
a.list-group-item {
    background-color: #e3f2fd;
    
}

.spend_container {
    display: flex;
    /* border: 3px solid black; */
    flex-direction: row;
    justify-content: center;
}

canvas {
    height: 300px;
    width: 500px;
}
.chart {
    padding: 2rem;
    border: 1px solid var(--light);
    border-radius: 1rem;
    background: var(--green);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.cycles {
    border: 1px solid black;
}

.home-grid {
    display: grid;
    margin-top: 40px;
    grid-template-areas: 
        "income    chart     expenses";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    /* gap: 0 50px; */
}
.income-grid {
    display: flex;
    flex-direction: column;
    grid-area: income;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: var(--green);
    border-radius: 8px;
    text-align: center;
    height: 400px;
    width: 300px;
    border: 1px solid black;
    transition-duration: .3s;
}

.chart-grid {
    grid-area: chart;
    transition-duration: .3s;
}
.chart-grid:hover, .expense-grid:hover, .income-grid:hover {
    transform: scale(1.1);
}
.expense-grid {
    grid-area: expenses;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: var(--green);
    border-radius: 8px;
    height: 500px;
    width: 300px;
    transition-duration: .3s;
}

form {
    --input-focus: #2d8cf0;
    --font-color: #000000;
    --font-color-sub: #686868;
    --bg-color: beige;
    --main-color: black;
    width: 300px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    background: var(--darkblue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--light);
  }
  
  .title {
    color: var(--light);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .title span {
    color: var(--light);
    font-weight: 600;
    font-size: 17px;
  }
  
  .input {
    width: 250px;
    height: 40px;
    margin-top: 0px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--lightblue);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .login-with {
    display: flex;
    gap: 20px;
  }
  
  .button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
  }
  
  .button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  .button-confirm {
    margin: 50px auto 0 auto;
    margin-top: 5px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--llightblue);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--light);
    cursor: pointer;
  }

  .form-label{
    display: block;
    color: var(--light);
    margin-top: 10px;
    font-size: 14px;
  }